body {
    background: #380000 ;
    background-image: url('images/backgrounds/bg.png');
    background-position: 0px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 50;
    padding-bottom: 50;
}


h1 {
    font-family: 'Raleway';
    color: black;
}


h3, p, h2 {
    color: black;
    font-family: Arial;
}

h4 {
    color: black;
}

.navbar {
    margin-top: 0;
    padding-bottom: 50;
    background: black;
    opacity: 0.85;
    color: white;
    font-family: 'Raleway';
    box-shadow: 0px;
}

.panel {
    background: white;
    opacity: 0.8;
    padding-bottom: 0;
}

.panel-heading {
    background: white;
    opacity: 1.0;
}

.jumbotron {
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    opacity: 0.8;
    background: white;
}

.carousel {
    margin-top: 0px;
    margin-bottom: 0px;
}


